body{
    width: 100%;
}

.container-jumbotron{
    position: relative;
}
.background-video{
    position: absolute;
}

.video{
    width: 100%;
    object-fit: cover;
}

.text-jumbotron{
    position: absolute;
    margin-left: 1100px;
    margin-top: 400px;
}